/* Input */
.input-container {
  position: relative;
}

.form-input {
  height: 50px;
  width: 100%;

  border-radius: 10px;
  border: 0;
  outline: 0;

  color: var(--main-black);
  font-weight: 500;

  padding-left: 20px;
  margin-bottom: 20px;

  font-family: inherit;
}

.form-input:focus {
  background: rgba(255, 255, 255, 0.8);
}

/* Category button */

.btn-category {
  width: 100%;
  text-align: start;
  background: none;
  border: 0;
  border-radius: 10px;

  color: #fff;
  font-size: 18px;
  font-weight: 500;

  padding: 12px 18px;

  transition: all 0.2s ease;
}

.btn-category:hover {
  background-color: #646464;
}

.btn-category img {
  width: 22px;
  height: 22px;

  margin-right: 15px;

  vertical-align: middle;
}

/* Button Action */
.btn-action {
  font-family: inherit;
  font-size: 14px;
  font-weight: 500;
  color: #fff;

  border: 2px solid #646464;
  border-radius: 10px;
  background: none;

  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 10px 15px;
  margin-bottom: 15px;

  transition: all 0.2s ease;
}

.btn-action:hover {
  background-color: #646464;
}

.btn-action img {
  width: 14px;

  transition: all 0.5s ease;
}

.btn-action:hover img {
  transform: rotate(90deg);
}

/* DeleteTaskModal */

.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);

  position: absolute;
  z-index: 100;
}

.delete-task-modal {
  position: absolute;
  text-align: center;

  background-color: var(--main-black);
  border: 2px solid #fff;
  border-radius: 10px;

  width: 400px;

  padding: 20px;
}

.delete-task-modal button {
  font-family: inherit;
  font-size: 14px;
  font-weight: 500;

  border: 1px solid var(--red);
  border-radius: 10px;
  background: none;
  color: #fff;

  width: 100px;
  height: 30px;

  margin: 20px 10px;

  transition: all 0.2s ease;
}

.delete-task-modal button:hover {
  background-color: var(--light-red);
}

/* MEDIA */

@media screen and (max-width: 450px) {
  .form-input {
    height: 40px;
  }
}
