.main {
  display: flex;
  position: relative;
}

.main-sidebar {
  background-color: var(--dark-grey);
  min-width: 340px;
  max-width: 350px;
  height: 624px;

  padding: 30px 20px;

  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--red) var(--dark-grey);
}

.category-sidebar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 15px;

  margin-top: 100px;
}

.cards {
  height: 624px;
  overflow-y: auto;
  flex-grow: 1;

  scrollbar-width: thin;
  scrollbar-color: var(--red) var(--dark-grey);
}

/* MEDIA */

@media screen and (max-width: 900px) {
  .main-sidebar {
    display: none;
  }

  .main {
    max-height: none;
    height: 100vh;
  }

  .cards {
    height: 100%;
  }
}
