:root {
  --btn-red: #FF464D;
  --btn-red-hover: #fc5f64;
  --main-black: #1C1C1C;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", serif;
  color: #fff;

  background-color: #5a5a5a;
}